.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;

    button {
      width: 100px;
      margin-bottom: 25px;
    }

    .video__author {
      display: flex;
      align-items: center;
      border-top: 25px;

      .author--column {
        .author__name {
          a {
            color: #3498db;
          }
        }
      }
    }

    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }

    .video__title {
      font-size: 22px;
      font-weight: 300;
    }

    .video__views {
      font-size: 14px;
    }

    .video__description {
      font-size: 16px;
    }
  }

  .video__comments {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    width: 80vw;

    .video__comment-number {
      font-size: 18px;
    }

    .video__comment-add {
      display: flex;
      align-items: center;
      margin-top: 25px;
      width: 100%;

      .add--column {
        display: flex;
      }

      button {
        width: 110px;
        margin-left: 20px;
      }

      input {
        width: 100%;
      }
    }

    .video__comments-list {
      margin-top: 50px;

      li {
        display: flex;
        align-items: center;
        color: $black;
        padding: 15px;
        border-top: 0.5px solid $black;

        .liset--column {
          display: flex;
          flex-direction: column;

          .comment__author {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
          }

          .comment__text {
            word-break: break-all;
          }

          .comment__btnContainer {
            display: flex;

            button {
              margin-top: 10px;
              background-color: inherit;
              color: $black;
            }
          }
        }

        &:last-child {
          border-bottom: 0.5px solid $black;
        }
      }
    }
  }
}