.u-avatar {
  height: 80px;
  background-color: $red;
  border-radius: 50%;
}

.a-avatar {
  height: 40px;
  background-color: $red;
  border-radius: 50%;
  margin-right: 20px;
}

.c-avatar {
  height: 30px;
  background-color: $red;
  border-radius: 50%;
  margin-right: 20px;
}